/* CSS Document end*/
/*初始化*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{
    margin:0;padding:0;color: #686868;
}
img{border: none;}
body{font-size:12px;font-family:"微软雅黑";background-color: #fff;-webkit-text-size-adjust:none;}
span,b,em{color: #444444;font-weight: normal;font-style: normal;}
ul{list-style-type: none;margin: 0;padding: 0;}
a{text-decoration: none;color: #444444;}
a:hover{text-decoration: none;color: #1a86d9;}
h1, h2, h3, h4, h5, h6 {margin:0;padding:0;font-weight:normal;}
.fl{float: left!important;}
.fr{float: right!important;}
.clearfix:after {content: ".";display: block;height: 0;clear: both;visibility: hidden;}
/*页面全局start*/
.max-wi-100{max-width:100px!important;}
.form-control {display: inline-block;height: 40px;width: 100%;padding: 2px 5px;font-size: 14px;line-height: 40px;color: #555;background-color: white;background-image: none;border: 1px solid #CCC;outline: none;border-radius: 5px;-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;text-align: center;}
.all-btn{display: inline-block;text-align: center;line-height: 40px;cursor: pointer;height: 40px;background-color: #FAA732;border: none;outline: none;border-radius: 2px;color: #fff!important;-moz-transition: background-color .2s linear,color .2s linear;-webkit-transition: background-color .2s linear,color .2s linear;padding: 0 20%;}

/*页面全局end*/
/*全局start*/
.max-wi-1360{max-width: 1360px;}
.max-wi-1320{max-width: 1320px;}
.cu-po{cursor: pointer!important;}
.cu-au{cursor: auto!important;}
.cu-de{cursor: default!important;}
.ov-hi{overflow:hidden!important;}
.ve-al-mi{vertical-align: middle!important;}
.ve-al-bo{vertical-align: text-bottom!important;}
.ve-al-to{vertical-align: text-top!important;}
.di-no{display: none;}
.di-in-bl{display: inline-block;}
.di-in{display: inline;}
.di-bl{display: block;}
.di-noi{display: none!important;}
.di-in-bli{display: inline-block!important;}
.di-ini{display: inline!important;}
.di-bli{display: block!important;}
.fl{float: left!important;}
.fr{float: right!important;}
.te-al-ce{text-align: center!important;}
.te-al-le{text-align: left!important;}
.te-al-ri{text-align: right!important;}
.po-re{position: relative!important;}
.po-ab{position: absolute!important;}
.po-fi{position: fixed!important;}
.fw-bo{font-weight: bold!important;}
.fw-no{font-weight: normal!important;}
.te-de-no{text-decoration: none!important;}
.te-de-un{text-decoration: underline!important;}
.he-au{height: auto!important;}
.wi-yibai{width: 100%!important;}
.ma-au{margin: 0 auto!important;}
.ma-0{margin: 0!important;}
.pa-0{padding: 0!important;}
.a-hover-blue:hover{color:#2D64B3!important;}.a-hover-success:hover{color:#5EB95E!important;}
.color-blue{color:#2D64B3!important;}.color-success{color: #5EB95E!important;}.color-warning{color: #FAA732!important;}.color-danger{color: #DD514C!important;}.color-grey{color: #E6E6E6!important;}
.color-fff{color: #fff!important;}

.po-l-1{left: 1px!important;}.po-l-2{left: 2px!important;}.po-l-3{left: 3px!important;}.po-l-4{left: 4px!important;}.po-l-5{left: 5px!important;}.po-l-10{left: 10px!important;}.po-l-12{left: 12px!important;}.po-l-15{left: 15px!important;}.po-l-20{left: 20px!important;}.po-l-25{left: 25px!important;}.po-l-30{left: 30px!important;}
.po-t-1{top: 1px!important;}.po-t-2{top: 2px!important;}.po-t-3{top: 3px!important;}.po-t-4{top: 4px!important;}.po-t-5{top: 5px!important;}.po-t-10{top: 10px!important;}.po-t-12{top: 12px!important;}.po-t-15{top: 15px!important;}.po-t-20{top: 20px!important;}.po-t-25{top: 25px!important;}.po-t-30{top: 30px!important;}
.po-r-1{right: 1px!important;}.po-r-2{right: 2px!important;}.po-r-3{right: 3px!important;}.po-r-4{right: 4px!important;}.po-r-5{right: 5px!important;}.po-r-10{right: 10px!important;}.po-r-12{right: 12px!important;}.po-r-15{right: 15px!important;}.po-r-20{right: 20px!important;}.po-r-25{right: 25px!important;}.po-r-30{right: 30px!important;}
.po-b-1{bottom: 1px!important;}.po-b-2{bottom: 2px!important;}.po-b-3{bottom: 3px!important;}.po-b-4{bottom: 4px!important;}.po-b-5{bottom: 5px!important;}.po-b-10{bottom: 10px!important;}.po-b-12{bottom: 12px!important;}.po-b-15{bottom: 15px!important;}.po-b-20{bottom: 20px!important;}.po-b-25{bottom: 25px!important;}.po-b-30{bottom: 30px!important;}

.ml-1{margin-left: 1px!important;}.ml-2{margin-left: 2px!important;}.ml-3{margin-left: 3px!important;}.ml-4{margin-left: 4px!important;}.ml-5{margin-left: 5px!important;}.ml-10{margin-left: 10px!important;}.ml-12{margin-left: 12px!important;}.ml-15{margin-left: 15px!important;}.ml-20{margin-left: 20px!important;}.ml-25{margin-left: 25px!important;}.ml-30{margin-left: 30px!important;}
.mr-1{margin-right: 1px!important;}.mr-2{margin-right: 2px!important;}.mr-3{margin-right: 3px!important;}.mr-4{margin-right: 4px!important;}.mr-5{margin-right: 5px!important;}.mr-10{margin-right: 10px!important;}.mr-12{margin-right: 12px!important;}.mr-15{margin-right: 15px!important;}.mr-20{margin-right: 20px!important;}.mr-25{margin-right: 25px!important;}.mr-30{margin-right: 30px!important;}
.pl-1{padding-left: 1px!important;}.pl-2{padding-left: 2px!important;}.pl-3{padding-left: 3px!important;}.pl-4{padding-left: 4px!important;}.pl-5{padding-left: 5px!important;}.pl-10{padding-left: 10px!important;}.pl-12{padding-left: 12px!important;}.pl-15{padding-left: 15px!important;}.pl-20{padding-left: 20px!important;}.pl-25{padding-left: 25px!important;}.pl-30{padding-left: 30px!important;}
.pr-1{padding-right: 1px!important;}.pr-2{padding-right: 2px!important;}.pr-3{padding-right: 3px!important;}.pr-4{padding-right: 4px!important;}.pr-5{padding-right: 5px!important;}.pr-10{padding-right: 10px!important;}.pr-12{padding-right: 12px!important;}.pr-15{padding-right: 15px!important;}.pr-20{padding-right: 20px!important;}.pr-25{padding-right: 25px!important;}.pr-30{padding-right: 30px!important;}

.mt-1{margin-top: 1px!important;}.mt-2{margin-top: 2px!important;}.mt-3{margin-top: 3px!important;}.mt-4{margin-top: 4px!important;}.mt-5{margin-top: 5px!important;}.mt-10{margin-top: 10px!important;}.mt-12{margin-top: 12px!important;}.mt-15{margin-top: 15px!important;}.mt-20{margin-top: 20px!important;}.mt-25{margin-top: 25px!important;}.mt-30{margin-top: 30px!important;}
.mb-1{margin-bottom: 1px!important;}.mb-2{margin-bottom: 2px!important;}.mb-3{margin-bottom: 3px!important;}.mb-4{margin-bottom: 4px!important;}.mb-5{margin-bottom: 5px!important;}.mb-10{margin-bottom: 10px!important;}.mb-12{margin-bottom: 12px!important;}.mb-15{margin-bottom: 15px!important;}.mb-20{margin-bottom: 20px!important;}.mb-25{margin-bottom: 25px!important;}.mb-30{margin-bottom: 30px!important;}
.pt-1{padding-top: 1px!important;}.pt-2{padding-top: 2px!important;}.pt-3{padding-top: 3px!important;}.pt-4{padding-top: 4px!important;}.pt-5{padding-top: 5px!important;}.pt-10{padding-top: 10px!important;}.pt-12{padding-top: 12px!important;}.pt-15{padding-top: 15px!important;}.pt-20{padding-top: 20px!important;}.pt-25{padding-top: 25px!important;}.pt-30{padding-top: 30px!important;}
.pb-1{padding-bottom: 1px!important;}.pb-2{padding-bottom: 2px!important;}.pb-3{padding-bottom: 3px!important;}.pb-4{padding-bottom: 4px!important;}.pb-5{padding-bottom: 5px!important;}.pb-10{padding-bottom: 10px!important;}.pb-12{padding-bottom: 12px!important;}.pb-15{padding-bottom: 15px!important;}.pb-20{padding-bottom: 20px!important;}.pb-25{padding-bottom: 25px!important;}.pb-30{padding-bottom: 30px!important;}

.wi-10{width: 10px!important;}.wi-20{width: 20px!important;}.wi-30{width: 30px!important;}.wi-40{width: 40px!important;}.wi-50{width: 50px!important;}
.wi-60{width: 60px!important;}.wi-70{width: 70px!important;}.wi-80{width: 80px!important;}.wi-90{width: 90px!important;}.wi-100{width: 100px!important;}
.wi-110{width: 110px!important;}.wi-120{width: 120px!important;}.wi-130{width: 130px!important;}.wi-140{width: 140px!important;}.wi-150{width: 150px!important;}
.wi-160{width: 160px!important;}.wi-170{width: 170px!important;}.wi-180{width: 180px!important;}.wi-190{width: 190px!important;}.wi-200{width: 200px!important;}
.wi-210{width: 210px!important;}.wi-220{width: 220px!important;}.wi-230{width: 230px!important;}.wi-240{width: 240px!important;}.wi-250{width: 250px!important;}
.he-10{height: 10px!important;}.he-20{height: 20px!important;}.he-25{height: 25px!important;}.he-30{height: 30px!important;}.he-35{height: 35px!important;}.he-40{height: 40px!important;}.he-50{height: 50px!important;}
.he-60{height: 60px!important;}.he-70{height: 70px!important;}.he-80{height: 80px!important;}.he-90{height: 90px!important;}.he-100{height: 100px!important;}
.he-110{height: 110px!important;}.he-120{height: 120px!important;}.he-130{height: 130px!important;}.he-140{height: 140px!important;}.he-150{height: 150px!important;}
.he-160{height: 160px!important;}.he-170{height: 170px!important;}.he-180{height: 180px!important;}.he-190{height: 190px!important;}.he-200{height: 200px!important;}
.he-210{height: 210px!important;}.he-220{height: 220px!important;}.he-230{height: 230px!important;}.he-240{height: 240px!important;}.he-250{height: 250px!important;}
/*全局end*/


/*------------------------------------游客界面----------------------------------*/
@media (max-width: 360px) {
    .zj_popup .cont .h2{font-size: 15px!important;}
    .zj_popup .cont .Dialog_box p{font-size: 13px!important;}
    .zj_My_treasure li .buy{width: 75px!important;height: 25px!important;}
}
.zjGm_hide{width: 100%;overflow: hidden;}
.zjGm_yk_back{width: 100%;height: 100%;background: url("../images/background_02.jpg");background-repeat: no-repeat;background-size: 100% 100%;background-position: 100% 100%;overflow: hidden;text-align: center;display: table;position: relative;}
.zjGm_he_auto{display: table-cell;vertical-align: middle;position: relative;}
.zjGm_yk_back_line{width: 90%;height: 75%;margin: 0 auto;overflow: hidden;position: relative;}
.zjGm_yk_back_cont{width:100%;height:97%;position: absolute;left: 0;top: 1.2%;overflow: hidden;overflow-y: auto;}
.zjGm_yk_back_cont img{width: 96.5%;margin: 0 auto;display: block;}
.zjGm_yk_back_line_z{width: 100%;height:100%;background: url("../images/hidekuang.png");background-repeat: no-repeat;background-size: 100% 100%;background-position: 100% 100%;position: absolute;left: 0;top: 0;}
.zjGm_header{width: 100%;position: absolute;top:  3%;left: 0;}
.zjGm_footer{width: 100%;position: absolute;bottom: 3%;left: 0;}
.zjGm_header img{width: 50%;margin: 0 auto;display: block;max-width: 230px;}
.zjGm_footer .img{width: 68%;margin: 0 auto;display: block;max-width: 250px;position: relative;}
.zj_say_content{width: 60%;position: absolute;top: 18%;right: 0;overflow: hidden;height: auto;}
.zj_say_content .zj_say_btn{width: 10%;height:100%;display: block;position: absolute;left: 0;top: 0;}
.zj_popup{width: 100%;height: 100%;position: fixed;left: 0;top: 0;text-align: center;background-color: rgba(0, 0, 0, 0.24);display: table;opacity: 0;z-index: -1;}
.zj_popup .cont{width: 90%;margin: 0 auto;background: url("../images/zj_popup_back.png");background-repeat: no-repeat;background-size: 100% 100%;position: relative;overflow: hidden;}
.zj_popup .cont .h2{padding: 20px 0;font-size: 20px;color: #f9f9f9;font-weight: bolder;font-family: "微软雅黑";text-shadow: 1px 1px #301812;}
.zj_popup .cont .baozhang{width: 22%;margin-left:10%;display: inline-block;vertical-align: top;max-width: 140px;}
.zj_popup .cont .Dialog_box{width: 52%;display: inline-block;margin-right: 10%;margin-bottom: 80px;}
.zj_popup .cont .Dialog_box p{font-size: 16px;color: #f9f9f9;text-shadow: 1px 1px #301812;font-family: "微软雅黑";font-weight: bold;text-align: left;margin-left: 10px;line-height: 20px;}
.zj_popup .cont .Dialog_box .p1{margin-left: 0;}
.zj_popup .cont .zj_game_xx{position: absolute;right: 3%;top: 5%;width: 40px;}
.zj_popup .cont .link{width: 100px;display: block;position: absolute;right: 8%;bottom: 5%;}
.zj_Game_rules{width: 40%;height: 100%;position: absolute;left:0;top: 0;display: block;}
.zj_Game_Reasure_house{width: 40%;height: 100%;position: absolute;right: 0;top: 0;display: block;}
.zj_My_treasure{width: 100%;height: 100%;overflow: hidden;overflow-y: auto;position: absolute;left: 0;top: 0;}
.zj_My_treasure li{width: 100%;background:url("../images/zj_game_notice_back.png");background-repeat: no-repeat;background-size: 100% 100%;text-align: left;position: relative;margin-bottom: 10px;height: auto;overflow: hidden;}
.zj_My_treasure li .top{width: 98%;background:url("../images/zj_My_treasure_back.png");background-repeat: no-repeat;background-size: 100% 100%;text-align: left;position: relative;height: 80px;margin: 5px auto 0 auto;}
.zj_My_treasure li img{vertical-align: top;margin-top: 15px;margin-left: 10px;}
.zj_My_treasure li .con{width:60%;height: 100%;display: inline-block;overflow: hidden;margin-top: 15px;}
.zj_My_treasure li .p1{font-size: 20px;color: #ffed6f;text-shadow: 1px 1px  #60361b;}
.zj_My_treasure li .p2{font-size: 20px;color: #fff;text-shadow: 1px 1px  #9e5c1c;}
.zj_My_treasure li .buy{display: block;position: absolute;right: 5px;top: 43px;background: url("../images/zj_My_treasure_use.png");background-repeat: no-repeat;height: 33px;width: 100px;background-size: 100% 100%;}
.zj_My_treasure li .notice{width: 100%;text-align: center;position: relative;margin-bottom: 30px;}
.zj_My_treasure li .notice .curImage{width: 20px;position: absolute;bottom: -20px;left:48%;display: block;background: url("../images/zj_game_notice_close.png");background-repeat: no-repeat;background-size: 100% 100%;height: 18px;margin: 0 auto;}
.zj_My_treasure li .notice .curImage_cur{background: url("../images/zj_game_notice_open.png");background-repeat: no-repeat;background-size: 100% 100%;}
.zj_My_treasure li .notice p{text-indent:2em;text-align: left;padding: 10px;font-size: 14px;}
.zj_My_treasure li .notice .cur_con{display: none;}
.zj_My_Vb_chest{position: absolute;top: 0;left:0;width: 100%;}
.zj_My_Vb_chest div{background: url("../images/zj_game_baoxiangclose.png");background-repeat: no-repeat;width: 10%;height: 40px;background-size: 100%;max-width: 40px;}
.zj_My_Vb_chest div.cur{background: url("../images/zj_game_baoxiangopen.png");background-repeat: no-repeat;width: 10%;height: 40px;background-size: 100%;max-width: 40px;}
.zj_My_Vb_chest .s1{margin-top: 14.5%;margin-left: 17%;position: absolute;}
.zj_My_Vb_chest .s2{margin-top: 38%;margin-left: 9%;position: absolute;}
.zj_My_Vb_chest .s3{margin-top: 58%;margin-left: 22%;position: absolute;}
.zj_My_Vb_chest .s4{margin-top: 81%;margin-left: 15%;position: absolute;}
.zj_My_Vb_chest .s5{margin-top: 115%;margin-left: 18%;position: absolute;}
.zj_My_Vb_chest .s6{margin-top: 133%;margin-left: 30%;position: absolute;}
.zj_My_Vb_chest .s7{margin-top: 100%;margin-left: 45%;position: absolute;}
.zj_My_Vb_chest .s8{margin-top: 116%;margin-left: 75%;position: absolute;}
.zj_My_Vb_chest .s9{margin-top: 55%;margin-left: 59%;position: absolute;}




/*---------------------------------领导-----------------------------*/
.zj_Leadership{width: 100%;height: 100%;background: url("../images/zj_Leadership_back.jpg");background-repeat: no-repeat;background-size: 100%;overflow: hidden;text-align: center;display: table;position: absolute;left:0;top:0;background-color: #f3f0e9;overflow-y: auto;}
.zj_Leadership_All_cont{height: 2000px;width: 100%;margin-top: 72%;text-align: center;}
.zj_Leadership_All_cont h1{margin-bottom:20px;}
.zj_Leadership_All_cont label{font-size: 14px;}
.input_phone{width: 65%;margin: 10px auto;display: block;}
.zj_agenda{width: 78.5%;margin: 0 auto;height: 600px;border-left: 2px solid #a0bdbf;margin-top: 62.8%;margin-bottom: 30px;}
.zj_agenda .label{padding:5px 10px;background-color: #c7c7c7;display: inline-block;margin-top: 20px;border-radius: 3px;color: #fff;font-size: 16px;}
.zj_agenda_ul li{width: 90%;background-color: #fff;margin: 20px 0;margin-left: 6%;box-shadow: 0 0 2px #dad7d1;border-radius: 5px;position: relative;padding: 10px;}
.zj_agenda_ul li:before{content: ".";width:0px;height:0px;border-bottom:10px solid transparent;  /* left arrow slant */border-top:10px solid transparent; /* right arrow slant */border-right:10px solid #fff; /* bottom, add background color here */font-size:0px;line-height:0px;position: absolute;left: -4%;top: 20px;}
.zj_agenda_ul li:after{content: "";position: absolute;left: -10%;top: 23px;width: 10px;height: 10px;background-color: #9dcfe1;border-radius: 50%;border: 2px solid #fff;}
.zj_agenda_ul li p{text-align: left;line-height: 20px;}


/*-----------------------------景点介绍--------------------------*/
.zjGm_Scenic_spot_con{width: 100%;margin: 0 auto;padding-bottom: 65px;overflow: hidden;overflow-y: auto;}
.zjGm_Scenic_spot_footer{width: 100%;height: 60px;background-color: #2b7a4a;border-top: 3px solid #3aa463;position: fixed;bottom: 0;left: 0;}
.zjGm_Scenic_spot_footer .left{width: 50%;height: 50px;display: inline-block;margin-top: 5px;border-right: 1px solid #fff;text-align: center;line-height:50px;color: #fff;font-size: 16px; }
.zjGm_Scenic_spot_footer .right{width: 48%;height: 50px;display: inline-block;margin-top: 5px;text-align: center;line-height:50px;color: #fff;font-size: 16px;}

.titleImg .zj_logo{background: url("../images/zj_logo.png");background-repeat: no-repeat;background-size: 100% 100%;width: 80px;height: 80px;display: inline-block;margin-top: -45px;}
.zjGm_Scenic_spot_con .titleImg{padding-bottom: 20px;border-bottom: 1px solid #dbdbdb;width: 100%;height: 100%;text-align: center;}
.zjGm_Scenic_spot_con .contMore{width: 95%;margin: 0 auto;text-align: center;}
.contMore .p1{font-size: 20px;padding-top: 20px;padding-bottom: 20px;}
.contMore .p2{font-size: 20px;line-height: 28px;text-indent: 2em;padding-bottom: 20px;text-align: left;}
.zjGm_Scenic_spot_con .title_model{width: 100%;text-align: center;}
.zjGm_Scenic_spot_con .title_model label{font-size: 20px;color: #000;margin: 0 10px;}
.All_model_cont{width: 95%;margin: 20px auto;text-align: center;}
.All_model_cont_baoxiang{display: inline-block;width:58%;vertical-align: top;margin-top: 10px;margin-left: 20px;}
.All_model_cont_baoxiang p{text-align: left;color: #e89620;font-size: 14px;}
.All_model_cont .feature{font-size: 18px;text-align: left;}
.All_model_cont .suggest{text-align: left;width: 100%;border-bottom: 1px solid #efefef;margin-bottom: 20px;}
.All_model_cont .suggest p{text-indent: 2em;margin-top: 5px;margin-bottom: 10px;font-size: 14px;}
.All_model_cont .regale li{width: 48%;margin-bottom: 10px;}
.All_model_cont .regale li img{border-radius: 8px;}
.All_model_cont .regale li p{font-size: 16px;margin: 10px 0;}
.All_model_cont .regale li:nth-child(n){float: left;}
.All_model_cont .regale li:nth-child(2n){float: right;}